APP_ADDR=:8080
PUBLIC_URL=https://screen.flyingrtx.com
SECURE_COOKIES=true
DEVICE_TOKEN_SHA256=replace_with_sha256_hex
VIEWER_PASSWORD_HASH_B64=replace_with_base64_encoded_argon2id_hash
SESSION_SECRET=replace_with_base64_secret
TURN_SHARED_SECRET=replace_with_64_hex_characters
TURN_HOST=screen.flyingrtx.com
TURN_PORT=3479
TURNS_PORT=5349
