APP_ADDR=:8080
PUBLIC_URL=https://screen.flyingrtx.com
SECURE_COOKIES=true
SESSION_SECRET=replace_with_base64_secret
TURN_SHARED_SECRET=replace_with_64_hex_characters
TURN_HOST=screen.flyingrtx.com
TURN_PORT=3479
TURNS_PORT=5349
